* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Manrope, Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
}

button {
    border: 1px solid;
}

a {
    text-decoration: none;
    color: var(--color-white)
}