@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.app {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    min-height: 100vh;
}

/* SIDEBAR  */

.sidebar {
    background: var(--color-black);
    color: var(--color-white);
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    min-height: 36px;
    padding: 0 14px;
    border-radius: var(--radius-md);
}

.sidebar-item:hover {
    background: var(--color-white);
    color: var(--color-black)
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 40px 14px;
    font-size: 22px;
    font-weight: 600;
}

/* MAIN  */

.main {
    margin: 24px;
}

/* HEADER  */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px 24px 12px;
}

.topbar h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
}

.date-button {
    padding: 10px;
    min-width: 180px;
    border-radius: 8px;
    border-color: var(--color-gray-400);
}

.date-button div {
    display: flex;
    justify-content: space-between;
}

/* DASHBOARD  */

.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px
}

/* CARDS */

.card {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-card);
    padding: 28px;
    background: var(--color-white);
}

.label {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 12px;
}

.label-mini {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.amount {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: bold;
}

.trend {
    font-weight: 700;
    font-size: 12px;
}

/* BALANCE CARD */

.balance-card {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 300px;
    padding: 40px
}

.balance-card_amount-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.balance-card_amount {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 8px;
    margin: 8px 0 16px 0;
}

.currency-button {
    background-color: var(--color-white);
    padding: 6px 12px 6px 12px;
    border-radius: 16px;
    border-color: var(--color-gray-400);
    font-weight: 500;
}

.stats-row {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 48px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
}

.progress-bar {
    width: 140px;
    height: 6px;
    border: 1px solid red;
    border-radius: 10px;
    box-sizing: content-box;
}

.progress-bar_value {
    width: 70px;
    height: 6px;
    background: var(--color-black);
    border-radius: 10px;
    border: 1px solid black;
    
}

/* .progress-bar::-webkit-progress-bar {
    background-color: var(--color-gray-100);
    border-radius: 10px;
    
}

.progress-bar::-webkit-progress-value {
    background-color: var(--color-black);
    border-radius: 10px;
}

.progress-bar::-moz-progress-value {
    background-color: var(--color-black);
    border-radius: 10px;
} */

.balance-card-visual img {
  width: 520px;
  height: auto;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 0;
}

/* INCOME AND EXPENSES CARDS  */

.income-card,
.expense-card {
    grid-column: span 4;
    /* min-height: 260px; */
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.stats_label {
    margin: 12px 0 8px 0;
}

.stats_sources, .stats_amount {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
}

/* BUDGET CARD  */

.budget-card {
    grid-column: span 4;
    /* min-height: 260px; */
}

.budget-card_info {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.budget-amounts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.progress-circle {
    border-radius: 50%;
    background: conic-gradient(#000 72%, #eee 0);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.progress-circle div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--color-white);
}

.progress-circle div strong {
    font-size: 36px;
}

.progress-circle div span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.reset-time {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.reset-time p {
    color: var(--color-gray-500)
}

.reset-time time {
    font-size: 14px;
    font-weight: 700;
}

/* TRASACTION CARD  */

.transactions-card {
    grid-column: span 8;
}

.transactions-table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.transactions-table th, td {
    font-size: 12px;
}

.transactions-table th {
    border-bottom: 1px solid var(--color-gray-300);
    text-transform: uppercase;
    padding: 8px 8px 8px 0;
    color: var(--color-gray-600);
}

.transactions-table td {
    font-weight: 700;
    padding: 16px 8px 0px 0;
}

.transactions-button {
    background: var(--color-black);
    border-radius: var(--radius-md);
    padding: 16px;
    margin-top: 24px;
    min-width: 260px;
}

.transactions-button div {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}


/* QUICK TRANSACTIONS CARD  */

.quick-actions-card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.action_button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.action_icon {
    width: 64px;
    height: 64px;
    background: gray;
    border-radius: 25%;
}

.receipt-button {
    background: var(--color-black);
    border-radius: var(--radius-md);
    padding: 20px 16px 20px 16px;
    margin-top: auto;
}

.receipt-button div {
    display: flex;
    justify-content: center;
    gap: 18px;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}